body {
    padding: 0;
    margin: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;

    color: #b8b7dd;
    
    font-family: 'Courier New', Courier, monospace;

    background-color: #292835;
}


body * {
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 1rem 2rem;
    background-color: #3d3d3d84;

    flex-shrink: 0;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

#logo {
    padding: 0.5rem;
    height: 2rem;
}

main#chat_container {
    flex: 1;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 1rem 1rem;
}

.chat_group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    gap: 5px;

    padding: 0.4em 0.4em;

    transition: 0.1s;
    min-width: 0;
}

.chat_group:first-child {
    margin-top: auto;
}

.chat_group:hover {
    background-color: #00000074;
}

.chat_group label {
    text-wrap: nowrap;
}

.chat_group p {
    margin: 0;
    text-wrap: pretty;
    hyphens: none;

    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word; 
}

footer {
    min-height: 7rem;
    flex-shrink: 0;

    background-color: #3d3d3d84;

    box-sizing: border-box;
    width: 100%;

    gap: 5px;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    width: 90%;
    gap: 5px;

    transition: 0.2s;
}

#cred_inputs {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: flex-start; 
    box-sizing: border-box; 
    width:90%
}

#msg_input {
    resize: none;
    width: 100%;
    height: 50px;
}

#msg_input:focus {
    height: 150px;
}

#msg_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
}

#send_btn {
    aspect-ratio: 1;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 2px;
    background-color: #00000071;
    color: #c4c2ee;
    border: 0;

    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:active {
    filter: brightness(110%);
}

textarea {
    color: #c4c2ee;
    background-color: #00000071;
    border-radius: 5px;
    border: 0;

    transition: 0.2s;
}

:focus {
    outline: 3px solid #b8b7dd34;
}

input {
    color: #c4c2ee;
    border: 0;
    background-color: #00000071;
    border-radius: 2px;

    transition: 0.2s;
}


.justify {
    text-align: justify;
    text-justify: inter-word;
    /* hyphens: auto; */
    /* text-wrap: pretty; */
}

dialog {
    box-sizing: border-box;
    color: #b8b7dd;
    background-color: #292835;
    border-radius: 15px;
    padding: 1.5rem;
    border: 1px solid #b8b7dd34;
    
    width: auto;
    min-width: 300px;
    max-width: 450px;
    
    width: 90%;

    transition: 0.2s;

    opacity: 0;
}

dialog[open] {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}

@starting-style {
    dialog[open] {
        transform: translateY(200%);
    }

    dialog {
        transform: translateY(200%);
    }
}


hr {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #c4c2ee;
    margin: 0;
}

@media screen and (max-width: 767px) {
    #logo {
        height: 1rem;
    }

    header {
        padding: 1rem;
    }

    #cred_inputs input {
        width: 50%;
    }
}