body {
    color: #b8b7dd;
    background-color: #04003f;
    font-family: 'Courier New', Courier, monospace;
}

body * {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #00062584;
}

.chat_group {
    transition: 0.1s;
}

.chat_group:hover {
    background-color: #00000074;
}

footer {
    background-color: #14235584;
    transition: 0.2s;
}

footer div {
    transition: 0.2s;
}

#msg_input {
    transition: 0.2s;
}

button {
    background-color: #00000071;
    color: #c4c2ee;
    border: 0;
    transition: 0.2s;
}

button:hover {
    opacity: 0.9;
}

button:active {
    filter: brightness(110%);
}

textarea {
    color: #c4c2ee;
    background-color: #00000071;
    border: 0;
    transition: 0.2s;
}

:focus {
    outline: 3px solid #b8b7dd34;
}

input {
    color: #c4c2ee;
    background-color: #00000071;
    border: 0;
    transition: 0.2s;
}

dialog {
    color: #b8b7dd;
    background-color: #292835;
    border: 1px solid #b8b7dd34;
    transition: 0.2s;
    opacity: 0;
}

dialog[open] {
    opacity: 1;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}

hr {
    border: 0;
    background-color: #c4c2ee;
}